<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saudisoft.mis_android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application

        android:icon="@mipmap/ic_mislogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sslogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ListCompaniesActivity"
            android:label="@string/all_companies"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".Activity.AddCompanyActivity"
            android:label="@string/add_new_company"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".Activity.AddEmployeeActivity"
            android:label="@string/add_new_employee"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".Activity.ListEmployeesActivity"
            android:label="@string/all_employees"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.InitializeDataBaseActivity" />
        <activity
            android:name=".Activity.ReadVoucher_Activity"
            android:screenOrientation="portrait"
            android:label="@string/read_voucher_title"
            />

        <activity
            android:name=".Activity.Voucher_DataEntryActivity"
            android:screenOrientation="portrait"
            android:label="@string/data_entry_title"

            />
        <activity
            android:name=".Activity.SendDataToMIS"
            android:screenOrientation="portrait"
            android:label="@string/send_data_title"
        />
    </application>

</manifest>